@media only screen and (min-width: 700px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  body {
    color: #938dab;
    font-family: "Poppins" sans-serif;
  }

  .main-page {
    background: #faf9fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header h1 {
    font-size: 1.5rem;
    color: #181133;
  }

  .input-button {
    box-shadow: 0px 0px 25px #cccccc;
    border-radius: 25px;
  }

  form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  form input,
  form button {
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    background: white;
    margin: 0;
  }

  input::placeholder {
    opacity: 0.2;
  }

  form button {
    background: #6c45ee;
    color: #faf9fa;
    cursor: pointer;
    transition: all 0.3s ease;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 100px;
  }

  form input {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 400px;
  }

  form button:hover {
    color: #6c45ee;
    background: #faf9fa;
  }

  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 99vh;
    position: relative;
  }

  .todo-list {
    min-width: 70%;
    list-style: none;
  }

  .todo {
    margin: 1.5rem;
    background: white;
    color: #6c45eed8;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 25px #cccccc;
    font-weight: 700;
  }

  .todo li {
    flex: 1;
  }

  .trash-btn,
  .complete-btn {
    background: #ff0000bb;
    color: white;
    border: none;
    padding: 2rem;
    cursor: pointer;
    font-size: 0.7rem;
  }

  .complete-btn {
    background: #5a38c8;
  }

  .todo-item {
    padding: 1.3rem;
  }

  .fa-trash,
  .fa-check {
    pointer-events: none;
  }

  .completed {
    text-decoration: line-through;
    opacity: 0.5;
    background: #6c45ee;
    color: white;
  }

  .fall {
    transform: translateY(8rem) rotateZ(20deg);
    color: white;
    background-color: #ff0000;
    opacity: 0;
  }

  select,
  option:hover,
  option:active,
  option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
  }

  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 25px #cccccc;
    border-radius: 25px;
  }

  select {
    color: #6c45ee;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
  }

  .select::after {
    content: "\25BC";
    position: absolute;
    background: #6c45ee;
    top: 0;
    right: 0;
    pointer-events: none;
    padding: 1rem;
    transition: all 0.3s ease;
  }

  .select::hover::after {
    background: white;
    color: #6c45ee;
  }

  select option {
    color: whitesmoke;
    background: #6c45ee;
  }

  form input,
  form input:after,
  form input:hover,
  form input:active,
  form button,
  form button:after,
  form button:hover,
  form button:active {
    outline: none !important;
  }

  .pagination-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pagination-top .click-area {
    position: absolute;
    bottom: 20px;
  }

  .pagination-top .click-area p {
    color: #cccccc80;
    font-size: 0.7rem;
    font-weight: 400;
  }

  .pagination-top i {
    display: flex;
    justify-content: center;
    color: #6c45ee;
  }

  .main-page {
    position: relative;
    margin-bottom: 50px;
  }

  .second-view {
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .pagination-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pagination-bottom .click-area {
    position: absolute;
    bottom: 20px;
  }

  .pagination-bottom .click-area p {
    color: #cccccc80;
    font-size: 0.7rem;
    font-weight: 400;
  }

  .pagination-bottom i {
    display: flex;
    justify-content: center;
    color: #6c45ee;
  }

  .clear-area {
    position: sticky;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #6c45ee;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 0px 25px #cccccc;
    margin: 50px;
    top: 200px;
    z-index: 3;
  }

  .button {
    margin-top: 22px;
    pointer-events: none;
  }

  .clear-area:hover {
    color: #6c45ee;
    background-color: #fff;
    box-shadow: 0px 0px 50px #8b8b8b;
  }
}

@media only screen and (max-width: 700px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  body {
    color: #938dab;
    font-family: "Poppins" sans-serif;
  }

  .main-page {
    background: #faf9fa;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  header h1 {
    font-size: 1.2rem;
    color: #181133;
  }

  .input-button {
    box-shadow: 0px 0px 25px #cccccc;
  }

  form {
    min-height: 5vh;
    position: relative;
  }

  form input,
  form button {
    padding: 0rem;
    font-size: 1.2rem;
    border: none;
    background: white;
    margin: 0;
  }

  input::placeholder {
    opacity: 0.2;
  }

  form button {
    background: #6c45ee;
    color: #faf9fa;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100px;
  }

  form input {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 400px;
  }

  form button:hover {
    color: #6c45ee;
    background: #faf9fa;
  }

  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 99vh;
    position: relative;
  }

  .todo-list {
    min-width: 70%;
    list-style: none;
  }

  .todo {
    margin: 1.5rem;
    background: white;
    color: #6c45eed8;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    box-shadow: 0px 0px 25px #cccccc;
    font-weight: 700;
  }

  .todo li {
    flex: 1;
  }

  .trash-btn,
  .complete-btn {
    background: #ff0000bb;
    color: white;
    border: none;
    padding: 2rem;
    cursor: pointer;
    font-size: 0.7rem;
  }

  .complete-btn {
    background: #5a38c8;
  }

  .todo-item {
    padding: 1.3rem;
  }

  .fa-trash,
  .fa-check {
    pointer-events: none;
  }

  .completed {
    text-decoration: line-through;
    opacity: 0.5;
    background: #6c45ee;
    color: white;
  }

  .fall {
    transform: translateY(8rem) rotateZ(20deg);
    color: white;
    background-color: #ff0000;
    opacity: 0;
  }

  select,
  option:hover,
  option:active,
  option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
  }

  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 25px #cccccc;
    border-radius: 25px;
  }

  select {
    color: #6c45ee;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
  }

  .select::after {
    content: "\25BC";
    position: absolute;
    background: #6c45ee;
    top: 0;
    right: 0;
    pointer-events: none;
    padding: 1rem;
    transition: all 0.3s ease;
  }

  .select::hover::after {
    background: white;
    color: #6c45ee;
  }

  select option {
    color: whitesmoke;
    background: #6c45ee;
  }

  form input,
  form input:after,
  form input:hover,
  form input:active,
  form button,
  form button:after,
  form button:hover,
  form button:active {
    outline: none !important;
  }

  .pagination-top {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pagination-top .click-area {
    position: absolute;
    bottom: 20px;
  }

  .pagination-top .click-area p {
    color: #cccccc80;
    font-size: 0.7rem;
    font-weight: 400;
  }

  .pagination-top i {
    display: flex;
    justify-content: center;
    color: #6c45ee;
  }

  .main-page {
    position: relative;
    margin-bottom: 50px;
  }

  .second-view {
    position: relative;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .pagination-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pagination-bottom .click-area {
    position: absolute;
    bottom: 20px;
  }

  .pagination-bottom .click-area p {
    color: #cccccc80;
    font-size: 0.7rem;
    font-weight: 400;
  }

  .pagination-bottom i {
    display: flex;
    justify-content: center;
    color: #6c45ee;
  }

  .clear-area {
    position: sticky;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #6c45ee;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 0px 0px 25px #cccccc;
    margin: 50px;
    top: 200px;
    z-index: 3;
  }

  .button {
    margin-top: 22px;
    pointer-events: none;
  }

  .clear-area:hover {
    color: #6c45ee;
    background-color: #fff;
    box-shadow: 0px 0px 50px #8b8b8b;
  }
}
